<header>
  <div class="login-warning" *ngIf="true">
    <mat-icon>warning</mat-icon>
    You {{keycloakEvent}} in another tab or window.
    <a href="/">Reload</a> to refresh your session.
  </div>
  <nav class="docs-nav-bar-header">
    <button class="home" mat-button mat-icon-button title="Keycloak Angular:: Events Example"></button>
    <button class="" mat-button *ngIf="true">Amiibo Search</button>
    <div class="flex-spacer"></div>
    <button class="" mat-button *ngIf="true" (click)="onLogin()">Login</button>
  </nav>
</header>

<div class="content">
  <div class="events-panel">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image" [style.background-image]="eventImg"></div>
        <mat-card-title>Events Monitor</mat-card-title>
        <mat-card-subtitle>{{eventStatus}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Event!
      </mat-card-content>
    </mat-card>
  </div>
</div>