<h1>Keycloak Angular Example</h1>

@if (isLoggedIn) {
  <button type="button" (click)="logout()">Log out</button>
}
@if (!isLoggedIn) {
  <button type="button" (click)="login()">Log in</button>
}

@if (userProfile) {
  <h2>User information</h2>
  <table>
    @if (userProfile.username) {
      <tr>
        <th scope="row">Username</th>
        <td>{{ userProfile.username }}</td>
      </tr>
    }
    @if (userProfile.firstName) {
      <tr>
        <th scope="row">First name</th>
        <td>{{ userProfile.firstName }}</td>
      </tr>
    }
    @if (userProfile.lastName) {
      <tr>
        <th scope="row">First name</th>
        <td>{{ userProfile.lastName }}</td>
      </tr>
    }
    @if (userProfile.email) {
      <tr>
        <th scope="row">E-mail</th>
        <td>{{ userProfile.email }}</td>
      </tr>
    }
    <tr>
      <th scope="row">E-mail verified</th>
      <td>{{ userProfile.emailVerified ? 'Yes' : 'No' }}</td>
    </tr>
  </table>
}
