header {
}

.login-warning {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fffbdd;
  padding: 10px 16px;
  border-bottom: 2px solid #000;
}

.login-warning a {
  margin: 0 5px;
}

.docs-nav-bar-header {
  background: #e7e6e6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.flex-spacer {
  flex-grow: 1;
}

.home.mat-icon-button {
  background: url('/assets/logo-32.png') center no-repeat;
  height: 40px;
  width: 40px;
}

.content {
  margin: 8px 8px 0 8px;
}

.events-panel {
  max-width: 400px;
  margin: auto;
}

.header-image {
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .events-panel {
    width: 100%;
  }
}
